<p id="notice"><%= notice %></p>

<h1>Semesters</h1>

<table>
  <%= def search_departments_url
             # code here
      end
      form_tag(search_departments_url, method: "get") do  %>
    <%= label_tag(:name, "Search for a Student: ") %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Search") %>
  <% end %>
  <thead>
    <tr>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.semester %></td>
        <td><%= link_to 'Show', semester %></td>
        <td><%= link_to 'Edit', edit_semester_path(semester) %></td>
        <td><%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Semester', new_semester_path %>
