<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @section.course_id %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @section.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @section.semester_id %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
